# Step 1 - Scraping

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import time

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [3]:
url_NASA_Mars_News = "https://mars.nasa.gov/news/"
browser.visit(url_NASA_Mars_News)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [4]:
heading_list = []

for heading in soup.find_all('div',class_="content_title"):
    heading_list.append(heading.find('a').text)

In [5]:
details_list = []

for details in soup.find_all('div',class_="article_teaser_body"):
    details_list.append(details.text)

In [6]:
news_title = heading_list[0]
news_p = details_list[0]
news_dict = {"Headline": news_title,"Details": news_p}

In [7]:
news_dict['Headline']

'Mars Scientists Investigate Ancient Life in Australia'

In [8]:
print("Title:", news_title)
print('-'*117)
print("Latest News Information:",news_p)

Title: Mars Scientists Investigate Ancient Life in Australia
---------------------------------------------------------------------------------------------------------------------
Latest News Information: Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions.

## JPL Mars Space Images - Featured Image

In [9]:
url_JPL_Mars_Space_Images = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_JPL_Mars_Space_Images)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [10]:
featured_image_list = []

for image in soup.find_all('div',class_="img"):
    featured_image_list.append(image.find('img').get('src'))

In [11]:
feature_image = featured_image_list[19]
feature_image_url = "https://www.jpl.nasa.gov/" + feature_image
feature_image_dict = {"image": feature_image_url}

print("Feature Image URL:", feature_image_url)

Feature Image URL: https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA23529-640x350.jpg

## Mars Weather

In [12]:
url_Mars_Weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_Mars_Weather)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [13]:
weather_info_list = []

for weather_info in soup.find_all('p',class_="TweetTextSize"):
    weather_info_list.append(weather_info.text)

In [14]:
mars_weather = weather_info_list[0]
mars_weather_dict = {"mar_weather": mars_weather }

print('Latest Mars Weather:',mars_weather)

Latest Mars Weather: InSight sol 348 (2019-11-19) low -102.5ºC (-152.5ºF) high -23.2ºC (-9.8ºF)
winds from the SSE at 5.1 m/s (11.5 mph) gusting to 18.9 m/s (42.3 mph)
pressure at 6.80 hPapic.twitter.com/iZwojPj9au

## Mars Facts

In [15]:
url = 'https://space-facts.com/mars/'

tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [16]:
df = tables[0]
df.head(8)
df = df.rename(columns={0: "", 1: ""})
df

0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
df.columns = ["Description", "Values"]
df.set_index(["Description"])
df

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
df_Mars_Facts = df.to_html("df_Mars_Facts_Table.html",index=False)

## Mars Hemispheres

In [19]:
url_Mars_Hemisperes = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_Mars_Hemisperes)
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [20]:
title_list = []

for title in soup.find_all('div',class_="description"):
    title_list.append(title.find('h3').text)

In [21]:
title_list

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [22]:
hemisphere_image_url = []

for image in soup.find_all('div',class_="item"):
    url = "https://astrogeology.usgs.gov/"
    hemisphere_image_url.append(url + image.find('img').get('src'))

In [23]:
hemisphere_image_url

['https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png',
 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png']

In [24]:
full_image_url = []

for each_url in hemisphere_image_url:
    split_url = each_url.split(".tif_thumb.png")[0]
    image_url = split_url + ".tif/full.jpg"
    full_image_url.append(image_url)

In [25]:
full_image_url

['https://astrogeology.usgs.gov//cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif/full.jpg',
 'https://astrogeology.usgs.gov//cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif/full.jpg']

In [26]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": full_image_url[3]},
    {"title": "Cerberus Hemisphere", "img_url": full_image_url[0]},
    {"title": "Schiaparelli Hemisphere", "img_url": full_image_url[1]},
    {"title": "Syrtis Major Hemisphere", "img_url": full_image_url[2]},]

In [27]:
image_one = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'
image_two = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'
image_three = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'
image_four = 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'

full_image = {"image_one": image_one, "image_two":image_two, "image_three":image_three, "image_four":image_four}

In [28]:
full_image['image_one']

'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [29]:
full_image['image_two']

'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'

In [30]:
full_image['image_three']

'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'

In [31]:
full_image['image_four']

'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'